<?xml version="1.0"?>
<configuration>
  <!--<configSections>
    <sectionGroup name="system.web">
      <section name="urlrewrites" type="ThunderMain.URLRewriter.Rewriter, ThunderMain.URLRewriter, Version=1.0.783.30976, Culture=neutral, PublicKeyToken=7a95f6f4820c8dc3"/>
    </sectionGroup>
  </configSections>-->

  <appSettings>
    <add key="DatabaseEngine" value="SQLServer2" />
    <add key="DatabaseEngine1" value="SQLServer3" />
    <add key="DatabaseEngine2" value="SQLServer4" />
    <add key="DatabaseEngine3" value="SQLServer5" />
    <add key="DatabaseEngine4" value="SQLServer6" />
    <add key="DatabaseEngine5" value="SQLServer7" />
    <add key="DatabaseEngine6" value="SQLServer8" />
    <add key="lst.SearchList" value="http://.\SqlExpress:85/SearchList.asmx" />
    <add key="list.Service" value="http://.\SqlExpress:84/Service.asmx" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="MERCHANT_KEY" value="j0SeMe"/>
    <add key="SALT" value="kKqhSjvn"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
    <!--<add key="MERCHANT_KEY" value="gtKFFx"/>
    <add key="SALT" value="eCwWELxi"/>
    <add key="PAYU_BASE_URL" value="https://test.payu.in" />-->
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
  </appSettings>
  <connectionStrings>
    <add name="Con_Poolable" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=VatasTax_dev;min pool size=1; max pool size=60;" providerName="System.Data.SqlClient" />
    <add name="Con_NonPoolable" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=VatasTax_dev;" providerName="System.Data.SqlClient" />
    <add name="con_Admin" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=db_Admin;min pool size=1; max pool size=60;" />
    <add name="con_Main" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=dbMain;min pool size=1; max pool size=60;" />
    <add name="SQLServer2" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=mydatabase1;min pool size=1; max pool size=60;" />
    <add name="SQLServer3" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=mydatabase1;min pool size=1; max pool size=60;" />
    <!-- this one is for testing only.. -->
    <add name="SQLServer4" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=db_Admin;min pool size=1; max pool size=60;" />
    <add name="SQLServer5" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=Utility;min pool size=1; max pool size=60;" />
    <add name="SQLServer6" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=VatasSolution;min pool size=1; max pool size=60;" />
    <add name="SQLServer7" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=db_Admin;min pool size=1; max pool size=60;" />
    <add name="SQLServer8" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=mydatabase1;min pool size=1; max pool size=60;" />
    <add name="SQLServer9" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=TDS_UPD_Returns;min pool size=1; max pool size=60;" />
    
    <add name="mydb" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=mydatabase1;min pool size=1; max pool size=60;" />
    <add name="con_Admin2" providerName="System.Data.SqlClient" connectionString="Server=.\SqlExpress;uid=sa;pwd=sql,.12345;database=db_Admin;min pool size=1; max pool size=60;" />
    <!--<add name="Con_Poolable" connectionString="Server=205.178.152.123;uid=vatas8687;pwd=C4ny0uguess;database=dbvatas1;min pool size=1; max pool size=60;Connect Timeout=36000;" providerName="System.Data.SqlClient"/>
    <add name="Con_NonPoolable" connectionString="Server=205.178.152.123;uid=vatas8687;pwd=C4ny0uguess;database=dbvatas1;Connect Timeout=36000;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" userName="infosysv@gmail.com" password="vatas123"/>
      </smtp>
    </mailSettings>    
  </system.net>-->
  <system.web>
    <!--<urlrewrites>
      <rule>
        <url>/Presentation/Salary</url>
        <rewrite>/Presentation/Salary.aspx?VType=40</rewrite>
      </rule>
      <rule>
        <url>/Presentation/Salary.aspx?VType=40</url>
        <rewrite>/Presentation/Salary.aspx?VType=40</rewrite>
      </rule>
      <rule>
        <url>/Presentation/HP</url>
        <rewrite>/Presentation/Salary.aspx?VType=42</rewrite>
      </rule>
      <rule>
        <url>/Presentation/Other</url>
        <rewrite>/Presentation/Salary.aspx?VType=44</rewrite>
      </rule>
      <rule>
        <url>/Presentation/Deductions</url>
        <rewrite>/Presentation/Salary.aspx?VType=46</rewrite>
      </rule>
      <rule>
        <url>/Presentation/Exemptions</url>
        <rewrite>/Presentation/Salary.aspx?VType=48</rewrite>
      </rule>
      <rule>
        <url>/urlrewriter/wohs\.asp</url>
        <rewrite>show.aspx</rewrite>
      </rule>
      <rule>
        <url>/urlrewriter/show(.*)\.asp</url>
        <rewrite>show.aspx?$1</rewrite>
      </rule>
      <rule>
        <url>/urlrewriter/(.*)show\.html</url>
        <rewrite>show.aspx?id=$1&amp;cat=2</rewrite>
      </rule>
      -->
    <!--<rule>
				<url>/urlrewriter/s/h/o/w/(.*)\.html</url>
				<rewrite>/urlrewriter/show.aspx?id=$1</rewrite>
			</rule>-->
    <!--
      <rule>
        <url>/urlrewriter/Salary</url>
        <rewrite>/urlrewriter/show.aspx?id=$1</rewrite>
      </rule>
    </urlrewrites>-->

    <sessionState timeout="10000"></sessionState>
    <!--<customErrors mode="On" defaultRedirect="/WebTest/ErrorPages/AppError.html">
      <error statusCode="302" redirect="/WebTest/ErrorPages/404.html" />
      <error statusCode="404" redirect="/WebTest/ErrorPages/404.html" />
    </customErrors>-->
    <customErrors mode="Off"></customErrors>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Oops.aspx" />-->
    <httpHandlers>
      <!--<add verb="*" path="*.gif" type="SimpleHTTPHanlder.ImageHandler,SimpleHTTPHanlder"/>
      <add verb="*" path="*.jpg" type="SimpleHTTPHanlder.ImageHandler,SimpleHTTPHanlder"/>-->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms protection="All" slidingExpiration="false" loginUrl="~/Presentation/Login.aspx" timeout="2880" cookieless="UseCookies" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" batch="false">
      <assemblies>


        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
      <codeSubDirectories>
        <add directoryName="VB" />
      </codeSubDirectories>
    </compilation>
    <!--<customErrors mode="Off"/>-->
    <!-- other configuration sections -->
    <siteMap enabled="true">
      <providers>
        <add name="eca_static_sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Static.sitemap" />
        <add name="eca_dynamic_sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
      </providers>
    </siteMap>

    <httpModules>
      <add name="SingleSessionEnforcement" type="SingleSessionEnforcement" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="addClientPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true">
          <security>
            <transport realm="" />
          </security>
        </binding>
        <binding name="addClientPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="GetTDSPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="GetTDSPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="itrvstatusPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="itrvstatusPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="ITRVServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="ITRVServiceBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="addClientPortSoap112" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="OutstandingTaxDemandPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="OutstandingTaxDemandPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="GetTDSPortSoap112" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GetPanInfoSoapHttp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GetPanInfoSoapHttp1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GetTANInfoPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GetTANInfoPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="itrvstatusPortSoap112" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="rectificationstatusPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="rectificationstatusPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="refundstatusPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="refundstatusPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="ReqForIntimationInfoSOAP" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ReqForIntimationInfoSOAP1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="returnstatusPortSoap11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="returnstatusPortSoap111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="taxCreditMisMatchSOAP11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="taxCreditMisMatchSOAP111" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GetTANInfoPortSoap112" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GetTANInfoPortSoap113" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="addClientPortSoap113" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GetTDSPortSoap113" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="addClientPortSoap114" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="itrvstatusPortSoap113">
          <security mode="Transport" />
        </binding>
        <binding name="itrvstatusPortSoap114" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:90/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="IService"
                name="BasicHttpBinding_IService" />
      <endpoint address="http://localhost:90/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService1" contract="CommonSvc.IService"
          name="BasicHttpBinding_IService1" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="itrvstatusPortSoap11" contract="Serviceitrvstatus.itrvstatusPort" name="Serviceitrvstatus.itrvstatusPortSoap11" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="ITRVServiceBinding" contract="Retrieve_ITR_V.ITRVServicePortType" name="ITRVServicePort" />
      <endpoint address="http://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="addClientPortSoap111" contract="Service_Add_Client_Detail.addClientPort" name="addClientPortSoap11" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="OutstandingTaxDemandPortSoap11" contract="Service_Outstanding_Tax_Demand.OutstandingTaxDemandPort" name="OutstandingTaxDemandPortSoap11" />
      <endpoint address="http://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="GetTDSPortSoap111" contract="ServiceGet26As.GetTDSPort" name="GetTDSPortSoap11" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="GetPanInfoSoapHttp" contract="ServiceGetPanInfo.GetPanInfo" name="PanWS" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="GetTANInfoPortSoap11" contract="ServiceGetTAN.GetTANInfoPort" name="GetTANInfoPortSoap11" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="itrvstatusPortSoap111" contract="Serviceitrvstatus.itrvstatusPort" name="itrvstatusPortSoap111" />
      <endpoint address="http://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="rectificationstatusPortSoap11" contract="ServiceRectificationStatus.rectificationstatusPort" name="rectificationstatusPortSoap11" />
      <endpoint address="http://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="refundstatusPortSoap11" contract="ServiceReFUNDSTATUS.refundstatusPort" name="refundstatusPortSoap11" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="ReqForIntimationInfoSOAP" contract="ServiceRequestforintimation.RequestForIntimationInfo" name="ReqForIntimationInfoSOAP" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="returnstatusPortSoap11" contract="Servicereturnstatus.ReturnstatusPort" name="returnstatusPortSoap11" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="taxCreditMisMatchSOAP11" contract="ServiceTaxCredMismatch.taxCreditMisMatchPort" name="taxCreditMisMatchSOAP11" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="GetTANInfoPortSoap112" contract="TANReference.GetTANInfoPort" name="GetTANInfoPortSoap111" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="addClientPortSoap11" contract="Add_Client_Details.addClientPort" name="addClientPortSoap111" />
      <endpoint address="http://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="GetTDSPortSoap11" contract="GetTDSReference.GetTDSPort" name="GetTDSPortSoap111" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="addClientPortSoap112" contract="Service_Add_Client_Detail.addClientPort" name="addClientPortSoap112" />
      <endpoint address="https://incometaxindiaefiling.gov.in/e-FilingWS/ditws" binding="basicHttpBinding" bindingConfiguration="itrvstatusPortSoap113" contract="ITR_V_Status.itrvstatusPort" name="itrvstatusPortSoap11" />
    </client>
  <services>
	  <service name="BasicHttpBinding_IService" behaviorConfiguration="metadataAndDebug"></service>
  <service name="BasicHttpBinding_IService1" behaviorConfiguration="metadataAndDebug"></service>
  </services>
  </system.serviceModel>
  <system.webServer>
    <!--For making website compatible with IE8 - Jaipal-->
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=10" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="8.00:00:00" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>

    <modules runAllManagedModulesForAllRequests="true">
       <add name="SingleSessionEnforcement" type="SingleSessionEnforcement" />      
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.1.7.1213" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.1.7.1213" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>