.gdstyle
{
    color:Red;
    border:none;
}
.imgdetail
{
 background:url("../Images/detailbtn2.png");    
 display:block;  /* Image will not show up without this line*/
 width:77px;  /* change to the actual image width */
 height: 22px;  /* change to the actual image height */
}
.imgdetail2
{
 background:url("../Images/UPLOAD.png");    
 display:block;  /* Image will not show up without this line*/
 width:77px;  /* change to the actual image width */
 height: 22px;  /* change to the actual image height */
}

.font_size
{
     font-size:16px;    
}